.map-container {
    margin-bottom: 2rem;
}

.title-map {
    font-size: 12rem;
    font-family: 'valorant';
    text-align: center;
    transition: .5s;
    letter-spacing: -15px;
}

.title-map:hover {
    transform: scale(1.1);
    letter-spacing: 0;
}